  <div class="content-section-a">
      <div class="container">
          <div class="row">
              <div class="col-lg-5 col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Who in the golly-derned heck are you?</h2>
                  <p class="lead">
                    Developer, dowsing enthusiast, CEO of the chakra, electromancer, dancer, prancer and novice phrenologist. I proudly work at <a href="http://rocketcode.io/">Rocket Code</a> as a Shopify App developer. I also take whatever time I have left and put it into playing guitar for <a href="https://soundcloud.com/desert-fires">Desert Fires</a>
                  </p>
              </div>
              <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <img class="img-responsive" src="img/services/Nuclear-Explosion-550x690.jpg" alt="">
              </div>
          </div>

      </div>
      <!-- /.container -->
  </div>
