<!-- Page Content -->
{% for post in site.posts reversed %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="article-author-side col-lg-3 col-sm-3">
                  <h3>{{ post.date | date: '%m/%d/%Y' }}</h3>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <article>
                      {% if post.link %}
                        <h2 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></h2>
                      {% else %}
                        <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
                      {% endif %}

                      <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
                    </article>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/services/Nuclear-Explosion-550x690.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
{% endfor %}
